<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Ads</h1>

      <ul class="list-group">
        <% ads.forEach((ads) => { %>
        <li class="list-group-item">
          <a href="/ads/<%= ads.id %>"> <%= ads.title %> </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
