<!-- #1 -->
<% if(messages.error) { %>
<!-- #2 -->
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Validation errors:
  <ul>
    <!-- #3 -->
    <% messages.error.forEach((err) => { %>
    <li><%= `${err.param} ${err.msg}` %></li>
    <% }) %>
  </ul>
</div>
<% } %>
