<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">About us!</h1>
        <p class="lead">An application for users to share information.</p>
      </header>
      <!-- /.row -->
    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
