<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation  -->
    <% include ./partials/navbar.ejs %> <% include ./partials/messages.ejs %>

    <main class="container-fluid">
      <div>Hello World</div>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
