<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Welcome to foundit</h1>
        <p class="lead">An application for users to share information.</p>
        <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        <a href="#" class="btn btn-primary btn-lg">About Us</a>
      </header>

      <!-- Page Features -->
      <section class="row text-center">
        <section class="col-lg-4">
          <h4 class="card-title">Post</h4>
          <p class="card-text">
            Share your thoughts about subjects that are important to you.
          </p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Comment</h4>
          <p class="card-text">
            Your opinion counts! But you have to make yourself heard first!
          </p>
        </section>

        <section class="col-lg-4">
          <h4 class="card-title">Stay Informed</h4>
          <p class="card-text">
            See the most active topics as well as trending subjects every day!
          </p>
        </section>
      </section>
      <!-- /.row -->
    </main>
    <!-- /.container -->

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
