<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <!-- Navigation  -->
    <% include ./partials/navbar.ejs %> <% include ./partials/messages.ejs %>

    <main class="container-fluid">

        <!-- SIDEBAR START -->
        <div class="col-3 d-none d-lg-block float-center">
          
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-center">Welcome to the Lounge!</h5>
                  <h6 class="card-subtitle mb-2 text-muted text-center">
                    An application for users to share information.
                  </h6>
                  <p class="card-text text-center">
                    Sign up now to join our community and get access to the
                    web's largest forum for discussion on various topics.
                  </p>
                  
                  <a class="btn btn-primary" href="/topics"
                    >See all avaliable topics</a
                  >
                  
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12"></div>
          </div>
       
          <div class="row">
            <div class="col-12">
              <div class="card text-center">
                <div class="card-body">
                  <h5 class="card-title">
                 
                  </h5>
                  <a class="btn btn-primary" href="/topics/new"
                    >Start a new topic</a
                  >
                  <a class="btn btn-primary" href="/topics"
                    >See all avaliable topics</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
           
            </div>
          </div>
     
        </div>
        <!-- SIDEBAR END -->
      </div>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
