<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>New Post</h1>
      <!-- #1 -->
      <form action="/topics/<%= topicId %>/posts/create" method="post">
        <div class="form-group">
          <label for="title">Post title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            aria-describedby="titleHelp"
            placeholder="Enter Title"
          />
        </div>
        <div class="form-group">
          <label for="body">Post body</label>
          <textarea
            rows="4"
            class="form-control"
            name="body"
            placeholder="Enter Post body"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
