<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1><%= post.title %></h1>
      <form
        style="display:initial"
        action="/topics/<%= post.topicId %>/posts/<%= post.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <p><%= post.body %></p>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
