<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %> <% include
    ../static/partials/messages.ejs %>

    <main id="signin" class="container">
      <!-- Logo and Label -->
      <div id="signinLabel" class="text-center">
        <h1 class="h3 mb-3 font-weight-light">Log in</h1>
      </div>

      <!-- Signin Form -->
      <form class="form-signin" method="POST" action="/users/sign_in">
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            aria-describedby="passwordHelp"
            placeholder="Enter password"
          />
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit">
          Sign in
        </button>
      </form>

      <!-- Sign up prompt -->
      <div id="signin-signup" class="text-center float-center">
        <p class="lead">New? <a href="/users/sign_up">Create an account</a>.</p>
      </div>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
